@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  background-color: black;
}

#bg{
  background-color: black;
  height: 100vh;
  width: 100vw;
  align-items:"center"; 
  justify-content: "center"
}

#listBg{
  background-color: white;
}

#buttons{
  background-color: #27272a;
  color:white;
}

.spinner-border {
  border-top-color: #27272a;
}
